* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    /* background-color: #f3f3f3; */
    background: #fff !important;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

section.content>div {
    max-width: 1610px;
    margin: 0 auto;
}

.bg-theme {
    /*background: linear-gradient(to right, rgba(1,126,186,1) 0%,rgba(86,196,194,1) 100%) !important; */
    color: #fdaa28 !important;
}

input,
select:not(.custom-select),
textarea {
    padding: 5px !important;
    border: 1px solid #ced4da !important;
}

input[type=submit],
input[type=button],
button {
    padding: 5px 15px !important;
    height: 35px;
}

.width-70 {
    width: 70px;
}

.width-100 {
    width: 100px;
}

.width-120 {
    width: 180px;
}

a {
    text-decoration: none;
    color: #545454;
}

a:hover {
    text-decoration: none;
}

.sidebar .menu .list {
    padding-top: 25px;
}


/*.sidebar .menu .list li a {
	color: #ab9381 !important;
    text-decoration: none !important;
    display: block !important;
    font: 13px/23px "Roboto", sans-serif !important;
}*/

.sidebar .menu .list a {
    padding: 5px 0px;
    color: #ffffff;
    text-align: center;
}

.table thead tr th {
    font-size: 12px;
    white-space: nowrap;
}

.table tbody tr td {
    font-size: 13px;
}

.navbar {
    padding: 0;
    background: #eeeeee;
    width: 80%;
    left: 20%;
    line-height: 66px;
    box-shadow: none;
    transition: all .5s;
}

.navbar-user {
    display: block;
    width: 100%;
}

.navbar-user a {
    display: inline-block;
}

.navbar-user a .User_Add {
    display: inline-block;
    margin-right: 7px;
}

i.fa.fa-power-off {
    color: #666666;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.navbar-user span {
    color: #666666 !important;
}

.User_Add {
    height: 50px;
    width: 50px;
    background: #fff !important;
    border-radius: 50px;
    position: relative;
    top: 7px;
}

.User_Add span i {
    color: #666666 !important;
    position: relative;
    top: -5px;
    padding: 15px;
}

.sidebar {
    top: 0;
    width: 20%;
    background: #191718;
    height: 100vh;
}

section.content {
    /*margin: 70px 15px 0 265px;*/
    margin: 0px;
    margin-top: 70px;
    width: 80%;
    position: relative;
    left: 20%;
    min-height: 90vh;
    padding: 10px 35px;
    transition: all .5s;
    /* -webkit-box-shadow: 0px 0 50px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 0 50px rgba(0,0,0,.1);
    -ms-box-shadow: 0px 0 50px rgba(0,0,0,.1);
    box-shadow: 0px 0 50px rgba(0,0,0,.1); */
}


/*
.menu li :hover, .menu li.active {
    background: #2b3441;
	-webkit-box-shadow: 0px 11px 16px -6px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 0px 11px 16px -6px rgba(0, 0, 0, 0.49);
	box-shadow: 0px 11px 16px -6px rgba(0, 0, 0, 0.49);
	border-left: 6px solid #fdaa28;
}

.menu li :hover img,.menu li :hover span{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-left: none !important;
}*/

.menu li.active:hover {
    border-left: none;
}

.errDiv {
    position: absolute;
    right: 527px;
    top: 30px;
    width: 300px;
    z-index: 10;
}

.navbar-user a,
.navbar-user i {
    color: #ffffff;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.sidebar .menu .list li.active> :first-child span {
    color: #ffffff;
}

.ls-closed .bars:after,
.ls-closed .bars:before {
    top: 8px;
    left: 15px;
    color: #ffffff;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    left: 0;
    opacity: 1;
    position: inherit;
}


/* ---- Login ---- */

.loginFormContainer .btn:not(.btn-link):not(.btn-circle) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
    outline: none;
}

.login {
    height: 100vh;
    background-color: #fdaa28;
}

.loginFormContainer {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 35px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.loginFormContainer .form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding-left: 0;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.loginFormContainer .form-control.btn {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.loginFormContainer .company-title {
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}


/*.loginFormContainer .company-logo{
	display: block;
	font-family: Poppins-Bold;
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
}*/

.loginFormContainer .OrSection p {
    font-weight: 500;
    color: #9c9c9c;
    font-size: 14px;
}

.loginFormContainer .socialLoginContainer div {
    /*height: 30px;*/
    color: #3b5998;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    margin: 30px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.loginFormContainer .socialLoginContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}


/*  ----- Login ----- */


/*  ----- Dashboard ----- */

.dashboardInnerContainer {
    width: 100%;
    padding: 15px;
    height: 100px;
    margin-bottom: 15px;
}

.dashboardPage {
    margin-top: 30px !important;
}


/*  ----- Dashboard ----- */

.sideBarArrow {
    font-size: 20px;
    float: right;
    padding-right: 20px;
}

.list .fas {
    font-size: 20px;
    padding-right: 20px;
    width: 40px;
}

.navbar-user {
    color: #ffffff;
}

.navbar-user .fa-user-tie {
    font-size: 24px;
    padding-right: 10px;
}

.interviewsTable,
.userMaintenanceTable {
    /*max-width: 1100px;*/
}

.userMaintenanceTable .fas,
.interviewsTable .fas,
.addQuestiontbl .fas {
    padding: 5px 15px;
    color: #007dba !important;
}

.pageTitle {
    padding-bottom: 20px;
}

.interviewDetailsForm,
.userDetailsForm {
    /*max-width: 800px; */
    margin: 0 auto;
}


/* ---- create interview ---- */

.createInterviewForm .autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.createInterviewForm input {
    padding: 10px;
    width: 100%
}

.createInterviewForm .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.createInterviewForm .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.createInterviewForm .autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.createInterviewForm .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.createInterviewForm .addQuestion {
    color: #ffffff;
    margin-top: 32px;
    padding: 9px;
}

.createInterviewForm textarea {
    height: 120px;
}

.listContainer {
    border-left: 1px solid #ccc;
    max-height: 70vh;
    overflow-y: auto;
    min-height: 420px;
}

.eachQuestionContainer {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
}

.actionContainer span {
    font-size: 14px;
    padding: 10px;
}

.actionContainer span .fas {
    cursor: pointer;
}

.qnTime {
    font-weight: 600;
}

.createinterviewContainer {
    margin-top: 20px;
}

.createinterviewContainer .createinterview {
    color: #fff;
    font-size: 16px !important;
    padding: 8px;
}

.createinterviewContainer .fas {
    padding-left: 10px;
}

.btn:not(.btn-link):not(.btn-circle) i {
    font-size: 14px;
    position: relative;
    top: 1px;
}

.popupQnContainer {
    padding: 5px;
    margin: 5px 0;
    box-shadow: 0 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 0px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0px 0px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0px 0px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.popupQnContainer .qnNo {
    margin-right: 10px;
    display: block;
}

.blockDiv {
    display: block;
}

.modal-dialog {
    max-width: 700px;
}

.modal-content {
    width: 700px;
}

.modal-body {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#questionsModal,
#questionsModal .modal-dialog,
#questionsModal .modal-content{ max-width: 100% !important;}

/* ---- create interview ---- */


/* ---userdetails----------- */

.serverError {
    text-align: center;
    color: #ff0000;
    padding: 5px;
}

.selectedPage,
.selectedPage:hover {
    background-color: #007dba;
    color: #fff !important;
}


/*----------- Interviews -----------*/
.userDetails  .hasDatepicker{
  background: url('../img/calendar-ico.png') no-repeat 97% 5px;
  background-size: 20px;
}
.userDetails{

}
.searchDiv {
    padding-bottom: 10px;
}


/* ---- Interview Details ---- */

.comment {
    display: block;
}

.searchContainer {
    margin-left: 58%;
}

.detailsContainer {
    max-width: 1300px;
    margin: 0 auto;
}

.detailsLabel {
    width: 130px;
    font-weight: 600;
}

.detailsValue {
    padding-left: 15px;
    display: inline-block;
    font-weight: 600;
}

.shareBtnContainer button {
    padding: 10px 20px;
}

.shareBtnContainer button .fas {
    margin-right: 10px;
}

.shareBtnContainer {}

.videoContainerValue {
    margin: 30px 0;
}

.question {
    padding: 0 0 10px;
}

.backBtn {
    float: left;
}

.videoinnerContainer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.videoinnerContainer video {
    width: 100%;
    max-height: 500px;
}


/* ---- Interview Details ---- */


/* ---- Forgot Password ---- */

.serverSuccess {
    color: #008000;
    padding-bottom: 6px;
}


/* ---- profile ---- */

#roleDiv {
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    border-radius: 3px;
    height: 33px;
    padding: 6px;
}


/* ---- Interviewees ---- */

.pending {
    color: #eaea01;
}

.completed {
    color: #ff9109;
}

.passed {
    color: #16c316;
}

.failed {
    color: #ff0000;
}

.active {
    color: red;
}


/* ----- interviews ----- */

.interviewSearchForm {
    width: 100%;
}

.interviewSearchBtn {
    margin-top: 27px;
}

.page-link-icon {
    border-radius: 50% !important;
    margin: 0px 5px !important;
}


/** Design New Modification **/

.btn-b-theme,
.btn-b-theme:hover {
    background: #007dba;
    color: #ffffff;
}

.sidebar .menu .list a span {
    margin: 7px 0 7px 12px !important;
    color: #fff !important;
    font-weight: Normal !important;
    font-size: 13px !important;
    overflow: hidden !important;
    width: 100%;
    margin-left: 0 !important;
}


img.Das.Libr {
    height: 21px;
    width: 21px;
}




.toggle_bar { display:none; }

.menu ul.list li a b {
    font-weight: 500;
}

img.O-Click {
    display: none;
}

/*.Arrow {
    width: 25px;
    background: #191718;
    position: absolute;
    top: 52%;
	text-align: center;
}*/

/*.Arrow {
    width: 20px;
    background: #191718;
    position: relative;
    top: 23px;
    height: 20px;
    box-sizing: border-box;
}*/


.Arrow {
    width: 100%;
    background: #191718;
    position: relative;
    height: 20px;
    box-sizing: border-box;
    transition: all .5s;
}

span.Arrow_Manage {
    line-height: 0 !important;
    position: fixed;
    top: 78px;
    left: 5%;
	transition: all .5s;
}

span.Arrow_Manage:after {
    content: '\f101';
    font-family: FontAwesome;
    font-size: 18px;
    color: #fdaa28;
    background: #191718;
    padding: 3px 3px 3px 3px;
}

.Arrow.A-Open .Arrow_Manage {
    left: 20%;
}


/*span.Arrow_Manage {
    line-height: 0 !important;
    position: absolute;
    top: 10px;
    left: 5px;
}*/

.container-fluid.Arrow_Space {
    width: 96.5%;
}

ul.list li a b {
    display: none;
}

/*span.Arrow_Manage:after {
    content: '\f101';
    font-family: FontAwesome;
    font-size: 18px;
}*/


nav.navbar.bg-theme.menu-open {
    width:95%;
    left: 5%;
	transition: all .5s;
}

section.content.active-c {
    width:95%;
    left: 5%;
	transition: all .5s;
}

ul.list.menu-open li a b {
    display: unset;
}

aside#leftsidebar.active {
    width: 5%;
}

img.Second_Image_O.menu-open {
    display: none;
}

img.O-Click.menu-open {
    display: unset;
}

.Arrow.A-Open .Arrow_Manage:after {
    content: '\f100';
}

aside#leftsidebar {
    overflow: visible !important;
}

img.Second_Image_O {
    width: 50px !important;
    height: 57px;
}

/*li#DataTables_Table_0_previous a {
    background: #fdaa28;
    color: white;
}*/

li.paginate_button.page-item.previous a {
    background: #fdaa28 !important;
	color:#fff;
}

li.paginate_button.page-item.previous.disabled a {
    background: #efefef !important;
	color:black !important;
}


/* ----- interviews ----- */


/* ----- MEDIA QUERIES ----- */

@media (max-width: 1169px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 30px !important;
    }
}

@media (max-width: 767px) {
    .navbar-user {
        display: none;
    }
}


/*==== HDS ====*/


.page-item.active .page-link {
    background: none;
    background-color: none !important;
    color: #666666;
}

.ImageSet {
    width: 30px;
    display: inline-block;
}


/* .Sharebtn { float:right; } */

#DataTables_Table_0_previous a {
    background-color: #efefef;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    padding: 7px 1px 0 0;
}

.paginate_button.page-item.next.disabled a {
    background-color: #efefef !important;
    color: #6c757d !important;
}

#DataTables_Table_0_next a {
    background-color: #fdaa28;
    border-radius: 25px;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    padding: 7px 1px 0 0;
}

.col-12.userMaintenance>h2 {
    padding-top: 15px;
    font-weight: 300 !important;
}

#DataTables_Table_0_next a:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#DataTables_Table_0_next a {
    border: none;
    outline: none;
}

a.page-link:focus {
    box-shadow: none;
}

i.fa.fa-angle-right {
    margin-left: 3px;
}

a.btn.btn-b-theme.float-right.mb-4 {
    border-radius: 25px;
    background: #fdaa28;
    padding: 7px 20px;
}

a.btn.btn-b-theme.float-right.mb-4:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 10px;
}

.col-sm-12.col-md-5.removeRowpage {
    display: none;
}

.col-sm-12.col-md-7.pageaddcenter {
    padding: 0;
}

.row.rowforpage {
    text-align: center;
}

.pageTitle h4 {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 11px;
    color: #191718;
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 12px;
}

@media screen and (max-width: 720px) {
    .content .pageTitle h4 {
        line-height: 100%;
    }
}

.userMaintenance {
    background-color: #fff;
    border-radius: 15px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
    -moz-box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
    box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
}

th.sorting,
th.width-120.text-center.sorting_disabled,
th.sorting_asc,
.sorting {
    border-top: none;
}

.dataTables_wrapper .row:first-child {
    display: none;
}

th.sorting,
th.width-120.text-center.sorting_disabled,
th.sorting_asc,
.sorting {
    border-top: ;
}


/* section.content {
    background: #fff !important;
    border-radius: 15px;
}*/

.userDet {
    width: 100% !important;
}

.pageTitle {
    display: inline-block !important;
}

.col-12.userDetails {
    background-color: #fff;
    border-radius: 15px;
    /* padding-top: 15px; */
    padding: 45px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
    -moz-box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
    box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
}

a.btn.btn-b-theme.float-left.rightside {
    float: right !important;
    border-radius: 25px;
    background-color: #fdaa28;
    padding: 7px 20px !important;
}

.widthHund {
    width: 100% !important;
}

.AddUserD {
    display: inline-block;
}

.centerbtn {
    text-align: center;
    padding: 0 !important;
    padding-bottom: 10px !important;
}

button#addUserButton,
button#addQuestionButton,
button#addVacButton {
    float: none !important;
    border-radius: 25px;
    background-color: #fdaa28;
    padding: 7px 20px !important;
}

.rightside:before {
    content: '\f104';
    font-family: FontAwesome;
    margin-right: 7px;
}

button#addUserButton:after,
button#addQuestionButton:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 7px;
}

.form-group.col-md-6.col-sm-6.col-xs-12.NewName {
    /* flex: 0 0 25%; */
    max-width: 25%;
}

.selectWrapper {
    border-radius: 36px;
    display: block;
    overflow: hidden;
    background: #fff;
    border: 1px solid #666666;
    width: 100%;
    margin-left: -15px !important;
}

.selectWrapper:focus {
    border: 1px solid #fdaa28;
    outline: none;
}

.selectBox {
    height: 31.5px;
    border: 0px;
    outline: none;
    width: 100%;
    display: block;
}

select.selectBox {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(https://c240120.ssl.cf1.rackcdn.com/2bc62dfd-cec8-11e9-8f60-42010a8a0feb);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 13px;
    padding-left: 15px !important;
}

select.selectBox {
    border: none !important;
}

.userDetails .form-group .form-control,
.addQuestionP .form-group .form-control,
.addPostV .form-group .form-control {
    border-radius: 50px !important;
    margin-left: -15px !important;
    padding-left: 15px !important;
}

.col-6.pageTitle.questionMaintenance {
    max-width: 100% !important;
    width: 100% !important;
    flex: 100% !important;
}

.col-6.pageTitle.questionMaintenance h4 {
    display: inline-block;
}

.addQuestionP .form-group.col-md-6.col-sm-6.col-xs-12 {
    flex: 100%;
    max-width: 100%;
}

td.width-120.text-center a {
    padding: 0 15px;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(https://c240120.ssl.cf1.rackcdn.com/2bc62dfd-cec8-11e9-8f60-42010a8a0feb);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 13px;
    padding-left: 15px !important;
}

.form-group.col-md-6.col-sm-6.col-xs-12.width_hund {
    max-width: 100%;
    flex: 100%;
}

.textarea_set {
    border-radius: 20px;
    margin-left: -15px !important;
    padding-left: 15px !important;
    max-width: 100%;
    flex: 100%;
    width: 100%;
    resize: none;
}

.selectWrapper.selectwrappercust {
    width: 30% !important;
}

.selectWrapper.selectwrappercust .selectBox {
    background-position-x: 94%;
}

.form-group.col-md-6.col-sm-6.col-xs-12.width_hund_last {
    display: block;
}

.SaveBtnSS {
    width: 48%;
    flex: 50%;
    display: inline-block;
    max-width: 50% !important;
    padding: 0;
    margin: 0;
}

button#questBank {
    background:#fdaa28;
    margin-left: -20px;
    font-size: 14px !important;
    color:#FFFFFF;
}

.row.justify-content-end.createinterviewContainer.ConBtn .col-6 {
    flex: 100% !important;
    max-width: 100%;
    padding: 2px 30px;
}

.addBtnSet {
    float: right !important;
    border-radius: 25px !important;
    background-color: #fdaa28;
    padding: 7px 20px !important;
}

.addBtnSet:hover {
    background: #fdaa28;
}

.addBtnSet:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 7px;
}

.form-group.col-md-6.col-sm-6.col-xs-12.width_hund textarea {
    resize: none;
}

.Vacan_cy {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(https://c240120.ssl.cf1.rackcdn.com/2bc62dfd-cec8-11e9-8f60-42010a8a0feb);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 13px;
    padding-left: 15px !important;
    margin-left: -15px !important;
    border-radius: 20px !important;
}

.row.CreateInter {
    background-color: #fff;
    border-radius: 15px;
    /* padding-top: 15px; */
    padding: 45px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
    -moz-box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
    box-shadow: 0px 0px 10px -5px rgba(102, 102, 102, 1);
}

textarea#interview_question {
    resize: none;
    margin-left: -15px !important;
    padding-left: 15px !important;
    max-width: 100%;
    flex: 100%;
    width: 100%;
    border-radius: 25px;
}

input#addQuestion {
    float: right !important;
    border-radius: 25px !important;
    background-color: #fdaa28;
    padding: 7px 20px !important;
    border: none !important;
}

input#createInterview {
    float: right !important;
    border-radius: 25px !important;
    background-color: #fdaa28;
    padding: 7px 20px !important;
    border: none !important;
    opacity: 1;
}

section.login.d-flex.justify-content-center.align-items-center {
    background-color: #fdaa28 !important;
}


/* Login Page */

.Logo.Jaro {
    text-align: center;
    margin-bottom: 10px;
}

.Login_Desciption {
    text-align: center;
    padding: 15px 0;
}

.Login_Desciption h4 {
    font-size: 26px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 300;
    margin: 0;
}

.Login_Desciption span {
    color: #fdaa28;
    font-size: 26px;
}

input#btnLogin {
    background-color: #fff;
    border-radius: 50px;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

button#btnLogin {
    background-color: #fdaa28;
    box-shadow: none !important;
    border: none !important;
    border-radius: 25px;
}

.Login_Sub {
    padding: 10px 0;
}

button#btnLogin {
    width: 100%;
    font-size: 16px;
}

button#btnLogin:after {
    content: '\f105';
    font-family: FontAwesome;
    right: 0 !important;
    float: right !important;
}

.Forget_Sub {
    text-align: center;
    padding: 20px 0;
}

.Forget_Sub a {
    float: none !important;
}

.form-group.ca {
    display: flex !important;
}

.form-group.ca img {
    /*height: 23px;
    width: 20px;*/
    border-bottom: 1px solid #666666;
    padding: 8px !important;
}

#email,
#password {
    border: none !important;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #666 !important;
    width: 100%;
    padding: 6px 0px 0px 10px !important;
}

#id_email {
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    width: 100%;
    /*padding: 6px 0px 0px 10px !important;*/
    line-height: 23px;
}

.fade {
    margin-bottom: 15px !important;
}

.spin1 {
    font-weight: 300 !important;
}

#id_password {
    border: none !important;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #666 !important;
    width: 100%;
    padding: 6px 0px 0px 10px !important;
}

.Forget_Sub a {
    color: #666 !important;
}

.Login_Page_Back {
    text-align: center;
}

.Login_Page_Back a {
    float: none !important;
}

.Login_Page_Back a:hover {
    color: #666666;
}

button#btnLogin {
    color: white !important;
}


/* Login Page */

.Logo_Sidebar {
    text-align: center;
    padding: 20px 0 0px 0;
}

button.btn.bg-theme {
    border-radius: 25px !important;
    color: #fff !important;
    background: #fdaa28;
}

.detailsContainer a.btn.btn-b-theme.float-left:before {
    content: '\f104';
    font-family: FontAwesome;
    padding-right: 7px;
}

.detailsContainer a.btn.btn-b-theme.float-left {
    background: #fdaa28 !important;
    border-radius: 50px;
    padding: 7px 20px;
}

.pageTitle.PageTitleWidth h4 {
    display: inline-block;
}

.pageTitle.PageTitleWidth {
    width: 100%;
    display: block;
}

a.btn.btn-b-theme.rightside {
    float: right !important;
    border-radius: 25px;
    background-color: #fdaa28;
    padding: 7px 20px !important;
    margin-left: 10px;
}

button.btn,
.btn {
    padding: 7px 20px !important;
    box-shadow: none !important;
}

.InterDet {
    padding-top: 10px;
}

button.btn.bg-theme.Sharebtn {
    height: 33px !important;
    width: 33px !important;
    padding: 0 !important;
    background: #626262;
}

.BackBtnPage:before {
    content: '\f104';
    font-family: FontAwesome;
    margin-right: 7px;
}

.BackBtnPage {
    border-radius: 25px !important;
    padding: 7px 20px;
    background: #fdaa28 !important;
}

.InterDetails h4 {
    display: inline-block;
}

.FloatRight {
    float: right;
}

button#addVacButton:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 7px;
}

.reviewbtn:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 7px;
}

.Continuebtn {
    opacity: 1 !important;
    padding: 7px 20px !important;
    font-size: 14px !important;
}

button#createInterview {
    font-size: 14px !important;
    float: right;
}

.Continuebtn:after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 7px;
}

.searchContainer {
    margin-left: 58%;
    border-radius: 50px !important;
    /* margin-left: -15px !important; */
    padding-left: 15px !important;
    top: -6px !important;
    position: relative;
}

.modal-footer.ShareMod {
    display: block;
    padding-left: 25px !important;
}

button.btn.btn-secondary.Canclebtn {
    border-radius: 25px !important;
    background: #ed2f2f;
}

button.btn.btn-secondary.Canclebtn:before {
    content: '\f00d';
    font-family: FontAwesome;
    margin-right: 7px;
}

button.btn.btn-primary.ShareSuccess {
    border-radius: 25px;
    background: #fdaa28 !important;
}

button.btn.btn-primary.ShareSuccess:before {
    content: '\f00c';
    font-family: FontAwesome;
    margin-right: 7px;
}

.InterShare {
    display: block;
}

.InterShare h5 {
    display: inline-block;
    color: #666666 !important;
}

.ModemIn .form-row {
    padding: 50px;
    border: 1px solid #c1c1c1;
    border-radius: 20px;
}

.ShareSelect {
    border-radius: 20px;
}

select.form-control.ShareSelect {
    background-image: none !important;
    padding: 0 !important;
}

select.form-control.ShareSelect::-webkit-scrollbar,
.modal-body.ModemIn::-webkit-scrollbar,
.sidebar .menu::-webkit-scrollbar,
.modal-body.rev::-webkit-scrollbar {
    display: none;
}

button.close span {
    font-size: 22px;
}

.Logo_Sidebar img {
    width: 60% !important;
}

.Inter_Details {
    display: inline-block;
}

a.btn.btn-primary.bg-theme.float-left.interde.rightside.Rit {
    float: right !important;
}

.ShareSelect option:hover {
    background: #e2e2e2;
}

.ShareSelect option {
    padding: 10px 20px;
    background: #f4f4f4;
    /* border-bottom: 1px solid #e2e2e2; */
}

#reviewInterview h5#exampleModalLabel {
    font-size: 30px;
    font-weight: normal;
}

#reviewInterview select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(https://c240120.ssl.cf1.rackcdn.com/2bc62dfd-cec8-11e9-8f60-42010a8a0feb);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 13px;
    padding-left: 15px !important;
    border-radius: 25px !important;
    margin-left: -15px !important;
}

#reviewInterview textarea#comment {
    border-radius: 25px;
    resize: none;
    margin-left: -15px;
}

#reviewInterview .modal-footer {
    display: block;
    padding-left: 5px !important;
}

ul.list li:hover {
    background: #fdaa28 !important;
}

i.fa.fa-pencil-square-o:hover {
    color: #fdaa28 !important;
}

i.fa.fa-trash-o:hover {
    color: red;
}

input#searchQn {
    border-radius: 50px !important;
    /* margin-left: -15px !important; */
    padding-left: 15px !important;
    top: -6px !important;
    position: relative;
}

.CandyClose {
    margin-left: -15px !important;
    padding-left: 15px !important;
    border-radius: 25px;
    border-radius: 25px !important;
    background: #ed2f2f !important;
    color: #fff !important;
}

.CandySave {
    border-radius: 25px !important;
    background: #fdaa28 !important;
    color: #fff !important;
}

.CandyClose:before {
    content: '\f00d';
    font-family: FontAwesome;
    margin-right: 7px;
}

.CandySave:before {
    content: '\f00c';
    font-family: FontAwesome;
    margin-right: 7px;
}

a.btn.btn-primary.bg-theme.float-left.interde {
    border-radius: 25px !important;
    padding: 7px 20px !important;
    background: #fdaa28 !important;
    color: #fff !important;
}

.Invite_Inter {
    border-radius: 25px !important;
    padding: 7px 20px !important;
    background: #fdaa28 !important;
}

.row.InterviewDetails input[type=text] {
    border-radius: 25px !important;
    margin-left: -15px !important;
    padding-left: 15px !important;
}

input.Email_Inter {
    width: 100%;
    border-radius: 50px;
    margin-left: -15px !important;
    padding-left: 15px !important;
}

button.btn.btn-primary.bg-theme.float-right.Invite_Inter:hover {
    background: #fdaa28 !important;
}

.DashboardAdmin .dashboardInnerContainer.btn-b-theme {
    background: #fdaa28 !important;
}

.dashboardInnerContainer.btn-b-theme .col-12.text-left h5 {
    font-weight: normal !important;
}

.eachQuestionContainer .col-md-8.col-sm-8.col-xs-12.Qn {
    flex: 0 0 90.67% !important;
    max-width: 90.67% !important;
}

i.fas.fa-trash-alt.deleteQnFromList {
    float: right !important;
}

.eachQuestionContainer {
    border-radius: 15px !important;
}

.Logo.Jaro img {
    width: 60% !important;
}

.welcomeText {
    -webkit-box-shadow: 0px 0px 7px -1px rgba(194, 180, 194, 1) !important;
    -moz-box-shadow: 0px 0px 7px -1px rgba(194, 180, 194, 1) !important;
    box-shadow: 0px 0px 7px -1px rgb(221, 221, 221) !important;
}

button.btn.btn-default.CandyClose:hover {
    background: #ed2f2f !important;
}

.modal-body::-webkit-scrollbar {
    background-image: none !important;
}

ul.list.menu-open li a {
    text-align: unset !important;
}

ul.list.menu-open li a span {
    width: unset !important;
    margin-left: 12px !important;
}

ul.list.menu-open li a {
    padding: 5px 13px !important;
}

ul.pagination.intro {
    display: none !important;
}
input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\25BC";
    color: #555;
    padding: 0 5px;
}

/ change color of symbol on hover /
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/ adjust increase/decrease button /
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 / adjust clear button /
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }



button.form-control.btn.btn-primary.signup_btn {
    margin-top: 10px;
    border-radius: 30px;
    background-color: #fdaa28 !important;
}

/*register button*/

.register{
    float: right !important;
    color: #fdaa28 !important;
}

.register a:hover {
    color: #fdaa28 !important;
    text-decoration: none !important;
}

.login-signpage input, select:not(.custom-select), textarea { border-radius: 30px;  }


/*forgot password*/

/* .float-left{
    color: #fdaa28 !important;
} */

.float-left a:hover{
    color: #fdaa28 !important;
    text-decoration: none !important;
}


/*Signup Page login class*/

section.login-signpage.d-flex.justify-content-center.align-items-center {
    background-color: #fdaa28 !important;
}

.login-signpage {
    height: 140vh;
    background-color: #fdaa28;
}

.Forget_Sub a.float-left,a.register {
    color: #fdaa28 !important;
    text-decoration: none;
}


/*Email validation signup*/

li{
    list-style: none;
    color: #fdaa28;
}