{% extends "authbase.html" %}
{% load static %}
{% block interviewercontent %}
<!-- ##Beginning content of the page -->
  {% if user.user_type < 10 %}
    <section class="content TGBar">
      <header>
        <div class="overlay"></div>
        <nav class="navbar bg-theme Ready">
        <!--<div class="Arrow"><span class="Arrow_Manage"></span></div>-->
          <div class="container-fluid">
            <div class="navbar-user">
              <a {% if user.user_type < 3 %}
                  href="{% url 'interviewer:user_management_edit' user.pk %}"
                {% else %}
                  href=""
                {% endif %}>
              <div class="User_Add"><span><i class="fas fa-user-tie"></i></span></div>
              <span>{{ user.first_name }}</span>
              </a>
              <div class="  " style="float: right !important;">
                <a href="{% url 'logout' %}" class=" waves-effect waves-block">
                <i class="fa fa-power-off" aria-hidden="true"></i>
                </a>
              </div>
              <div class=" " style="float: right !important;">
                <a href="{% url 'password_change' %}" class=" waves-effect waves-block">
                <i class="fa fa-key fa-lg fa-stack" aria-hidden="true" style="color:black;"></i>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      {% if messages %}
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      <div>
        <style>
          .zc-rel.zc-top {
          margin: 0 auto !important;
          }
        </style>
        <h4>DASHBOARD</h4>
        <div class="row DashboardAdmin">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'interviewer:vacancies_list' %}">
              <div class="dashboardInnerContainer btn-b-theme">
                <div class="row">
                  <div class="col-12 text-left">
                    <h5>Total Vacancies</h5>
                  </div>
                  <div class="col-12 text-right">
                    <h5 class="mb-0 mt-4">{{vacancies_count}}</h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'interviewer:interviews_list' %}">
              <div class="dashboardInnerContainer btn-b-theme">
                <div class="row">
                  <div class="col-12 text-left">
                    <h5>Total Interviews</h5>
                  </div>
                  <div class="col-12 text-right">
                    <h5 class="mb-0 mt-4">{{interview_count}}</h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'interviewer:candidates_list' %}">
              <div class="dashboardInnerContainer btn-b-theme">
                <div class="row">
                  <div class="col-12 text-left">
                    <h5>Total Candidates</h5>
                  </div>
                  <div class="col-12 text-right">
                    <h5 class="mb-0 mt-4">{{candidate_count}}</h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="{% url 'interviewer:questions_list' %}">
              <div class="dashboardInnerContainer btn-b-theme">
                <div class="row">
                  <div class="col-12 text-left">
                    <h5>Total Questions</h5>
                  </div>
                  <div class="col-12 text-right">
                    <h5 class="mb-0 mt-4">{{question_count}}</h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <p>You need permission to perform this action.</p>
  {% endif %}
{% endblock %}
