
{% extends "admin_base.html" %}
{% load static %}
  {% block content %}
    <section class="login d-flex justify-content-center align-items-center">
       <div class="loginFormContainer">
          <div class="Logo Jaro">
             <a href="{% url 'login' %}"><img src="{% static 'img/fc1a6d75-d39c-11e9-8423-42010a8a0ff4' %}"></a>
          </div>
          <div class="Login_Desciption">
             <h4>Check Your <span>E-MAIL!</span></h4>
          </div>
          <div class="formFields">
            <form method="post" novalidate>
              <p>
			    We've emailed you instructions for setting your password, if an account exists with the email you entered.
			    You should receive them shortly.
			  </p>
			  <p>
			    If you don't receive an email, please make sure you've entered the address you registered with,
			    and check your spam folder.
			  </p>
            </form>
          </div>
       </div>
    </section>
  {% endblock %}


