{% extends "admin_base.html" %}
{% load static %}
  {% block content %}
    <section class="login d-flex justify-content-center align-items-center">
       <div class="loginFormContainer">
          <div class="Logo Jaro">
             <a href="{% url 'login' %}"><img src="{% static 'img/fc1a6d75-d39c-11e9-8423-42010a8a0ff4' %}"></a>
          </div>
          <div class="Login_Desciption">
             <h4>Welcome <span>back!</span></h4>
          </div>
          <div class="formFields">
            <form method="post" novalidate>
              {% csrf_token %}
              {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div class="Login_Sub">
                 <button class="btn bg-theme" type="submit" id="btnLogin" value="Login" name="login">Change Password</button  >
              </div>
                </form>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}
              
            </form>
          </div>
       </div>
    </section>
  {% endblock %}
