
{% extends "admin_base.html" %}
{% load static %}
  {% block content %}
    <section class="login d-flex justify-content-center align-items-center">
       <div class="loginFormContainer">
          <div class="Logo Jaro">
             <a href="{% url 'login' %}"><img src="{% static 'img/fc1a6d75-d39c-11e9-8423-42010a8a0ff4' %}"></a>
          </div>
          <div class="Login_Desciption">
             <h4>Your password has been set. You may go ahead and <a href="{% url 'login' %}"><span>Login!</span></a> now.</h4>
          </div>
       </div>
    </section>
  {% endblock %}


