{% extends "user_base.html" %}
{% load static %}
{% block content %}
<header>
</header>
  <div class="loginMainContainer d-flex justify-content-center align-items-cente">
    <section class="login d-flex justify-content-center align-items-center">
      <div class="loginFormContainer">
        <div class="Logo Jaro">
          <a href="{% url 'user_login' %}"><img src="{% static 'img/fc1a6d75-d39c-11e9-8423-42010a8a0ff4' %}"></a>
        </div>
        <div class="company-title">Login</div>
        <div class="formFields">
          <form method="post">
            {% csrf_token %}
            <div class="form-group ca">
              <img src="{% static 'img/2e95ce38-c98a-11e9-86f0-42010a8a0feb' %}" class="icon">
              {{ form.username }}
            </div>
            <div class="form-group ca">
              <img src="{% static 'img/24d3f0cb-c98a-11e9-86f0-42010a8a0feb' %}" class="icon lock">
              {{ form.password }}
            </div>
            {% if messages %}
              {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
              {% endfor %}
            {% endif %}
            {% for error in form.non_field_errors %}
            <p style="color:red;">{{ error }}</p>
            {% endfor %}



            <button class="form-control btn btn-primary" id="UserBtnLogin" type="submit" value="Login" name="userLogin">Login</button>

                    <div class="Forget_Sub">
                       <a class="float-left" href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>

            <!-- <div class="Forget_Sub">
                 <a class="float-left" href="{% url 'password_reset' %}">Forgot password?</a>
              </div>
            <div>
          
              <button class="form-control btn btn-primary" id="UserBtnLogin" type="submit" value="Login" name="userLogin">Login</button> -->
              <div class="Forget_Sub_1">
              <a href="{% url 'admin_signup' %}" class="register">Create a New Account</a>
               </div>
            </div>
          
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
